spring:
  application:
    name: cloud-config-center-in-cloud
  cloud:
    config:
      server:
        git:
          uri: git@github.com:fushusen/springcloud-config.git
          search-paths: springcloud-config
      label: master

eureka:
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      defaultZone: http://eureka7001.com:7001/eureka
  instance:
    hostname: config-center-service
